body {
    font-family: helvetica, sans-serif;
    width: 350px;
    align-content: center;
    display: flex;
    justify-content: space-evenly;
  }

  label {
    font-weight: bold;  
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
  }

.everything {
  
    top: 50%;
    left: 50%;
}

  .story {
    background: #FFC125;
    color: #5E2612;
    padding: 10px;
    visibility: hidden;
    flex-grow: inherit;
  }